.userCard {
    width: 950px;
    height: 40px;
    border-radius: 15px;
    background: darkcyan;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    justify-content: space-between;
}

button {
    border: none;
    background: darkgrey;
    padding: 6px;
    border-radius: 10px;

}
.btn {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}