.wrap {
    display: flex;
    width: 1620px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userList {
    width: 1000px;
    height: 570px;
    background: aliceblue;
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}

.userInfo {
    width: 600px;
    height: 570px;
    background: aliceblue;
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}

.cardPost {
    width: 1000px;
    height: 100%;
    min-height: 300px;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    background: aliceblue;
}

.postHeader {
    width: 950px;
    height: 40px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cardComment {
    width: 600px;
    min-height: 570px;
    height: 100%;
    background: aliceblue;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}