.wrap {
    display: flex;
    width: 1620px;
    margin: 0 auto;
    justify-content: space-between;
}

.userList {
    width: 1000px;
    height: 570px;
    background: aliceblue;
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}

.userInfo {
    width: 600px;
    height: 570px;
    background: aliceblue;
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 20px;
    box-sizing: border-box;
}